@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
   *{
        scroll-behavior: smooth;
    }
    .hero_gradient{
        background-image: radial-gradient(at top left, transparent 67%, #fff 67.09%),
        linear-gradient(175deg,  rgb(190,18,60) 0%, rgba(190,18,60,95%) 100%);
        background-size: 120% 100%,cover;
        background-repeat: no-repeat;
        margin: 0;
        height: 80vh;
    }
    .trs-2
    {
        transition: all 2s;
    }
  }